/* All Pages */
html {
  background-color: white;
  overflow: hidden;
  height: 100%;
}

:root {
  --primary-color: #0e7b3d;
  --main-bg-color: #021209;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: var(--main-bg-color);
  background-image: url(../assets/background.svg);
}

header {
  width: 100%;
  padding-top: 60px;
  height: min-content;
  position: relative;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 1em;
  margin-top: 2rem;
}

.content > * {
  flex: 1;
}

.centered-text {
  font-size: 20px;
  font-weight: 500;
  width: 60%;
}

footer {
  padding: 1.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-top: #ffffff61 1px solid;
}

/* Welcome Page*/
.welcome-icons img {
  height: 15rem;
}

.welcome_page h1 {
  font-size: 72px;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 0;
}

.welcome_page .centered-text {
  margin-top: 30px;
}

.welcome_page h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 3rem;
}

/* Payment Lookup Page */
.payment-lookup-icons img {
  height: 15rem;
}

.payment_lookup_page h1 {
  font-size: 45px;
  font-weight: 600;
  margin-top: 20px;
}

.payment_lookup_page .centered-text {
  margin-top: 64px;
  font-weight: 600;
}

.content .top-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.payment_lookup_page .close-btn {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  width: 232px;
  height: 82px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 5rem;
}

/* Email Page */
.email-icons img {
  height: 7rem;
  margin-top: 50px;
}

.email_page h1 {
  font-size: 45px;
  font-weight: 600;
  margin-top: 75px;
}

.email_page .centered-text {
  margin-top: 14px;
}

.email_page .content form {
  display: flex;
  gap: 16px;
  margin-top: 60px;
}

.email_page .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 95px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 8px;
  padding: 0 10px 0 14px;
}

.email_page .email-input {
  background-color: transparent;
  color: white;
  width: 100%;
  height: 50%;
  font-size: 24px;
  font-weight: 500;
  border: none;
  padding-left: 5px;
}

.email_page .email-input::placeholder {
  color: white;
  font-size: 13px;
  font-weight: 400;
}

.email_page .email-input:focus {
  outline: none;
}

.email_page .input-container img {
  height: 3rem;
  cursor: pointer;
}

.email_page .email-btn {
  color: black;
  width: 150px;
  height: 95px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}

/* Email Found & Not Found Modal */
.email_found_page,
.email_not_found_page {
  position: relative;
}

.payment-lookup-icon-container {
  position: relative;
}

.popup-modal-content .top-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-circle-check,
.status-circle-x {
  position: absolute;
  right: 25px;
  top: 5px;
  width: 60px;
  height: 60px;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.status-circle-check {
  background-color: var(--primary-color);
}

.status-circle-x {
  background-color: red;
  font-weight: 900;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 48px;
}

.top-bar img {
  margin-top: 56px;
  width: 272px;
  height: 65px;
}

.page-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin-top: 96px;
}

.main-section {
  width: 512px;
  margin: 56px auto 0;
}

.categories-section {
  display: grid;
  grid-template-columns: repeat(2, 232px);
  gap: 48px;
}

.categories-item {
  border: 1px solid #dddddd;
  border-radius: 8px;
  height: 299px;
  background-color: white;
}

.categories-item .image-section {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 224px;
  border-radius: 8px 8px 0 0;
  transition: ease 0.3s;
}

.categories-item:hover .image-section {
  background-color: #0e7b3d10;
}
.categories-item .image-section svg {
  fill: #6c7670;
}

.categories-item:hover .image-section svg {
  fill: #0e7b3d;
}

.categories-item .text-section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: calc(299px - 224px);
}

.categories-item .text-section h2 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.selector {
  margin: 56px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector img:first-child {
  margin-right: 18px;
}

.bottom-buttons {
  margin-top: 71px;
  display: flex;
  justify-content: space-between;
}

.button-item {
  width: 232px;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #fff7f7;
  border-radius: 8px;
}

.button-item img {
  margin-right: 18px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs img {
  margin-left: 24px;
}

.breadcrumbs img:first-child {
  margin-left: 0;
}

.breadcrumbs h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.bottom-column-2 {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  width: 141px;
  height: 46px;
  font-weight: 600;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.amount_page .categories-section {
  column-gap: 48px;
  row-gap: 40px;
}

.amount-item {
  background-color: white;
  border-radius: 8px;
  border: 3px solid white;
  width: 232px;
  height: 254px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s;
  text-decoration: none;
}

.amount-item h2 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 32px;
  text-align: center;
  color: black;
}

.amount-item svg {
  fill: #6c7670;
}

.amount-item:hover {
  background: #0e7b3d;
  border: 3px solid #ffffff;
}

.amount-item:hover h2 {
  color: white;
}

.amount-item:hover svg {
  fill: white;
}

.custom-amount {
  margin-top: 40px;
  background-color: white;
  width: 100%;
  height: 124px;
  border: 1px solid #999999;
  border-radius: 8px;
  display: flex;
}

.custom-amount span {
  width: 112px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
  color: #8d8d8d;
}

.custom-amount input {
  width: calc(100% - 112px);
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 32px;
  padding: 36px 24px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.donation-basis-item {
  width: 100%;
  height: 198px;
  border: 3px solid white;
  background-color: white;
  text-decoration: none;
  padding: 45px 40px;
  border-radius: 8px;
  transition: ease 0.3s;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  color: #8d8d8d;
}

.donation-basis-item p {
  font-weight: 400;
  font-size: 32px;
  margin: 24px 0 0;
}

.donation-basis-item-amount {
  display: flex;
  align-items: center;
}

.donation-basis-item-amount h2 {
  color: black;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.donation-basis-item-amount svg {
  margin-right: 20px;
  fill: #6c7670;
}

.donation-basis-item:hover {
  background-color: #0e7b3d;
  color: white;
}

.donation-basis-item:hover .donation-basis-item-amount h2 {
  color: white;
}

.donation-basis-item:hover .donation-basis-item-amount svg {
  fill: white;
}

.donation_basis .bottom-buttons {
  margin-top: 110px;
}

.payment-card {
  width: 610px;
  margin: 117px auto 0;
  color: white;
  background-color: #0e7b3d;
  border-radius: 16px;
  background-image: url(../assets/payment-background.png);
  background-size: cover;
  height: 293px;
  display: flex;
  flex-direction: column;
  padding: 46px 10px 26px 45px;
  position: relative;
}

.payment-card h1 {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}

.money-amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.money-amount h2 {
  font-weight: 700;
  font-size: 60px;
  margin-top: 26px;
  margin-bottom: 0;
}

.hide-button {
  border: white 1px solid;
  color: white;
  width: 195px;
  height: 48px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 10px;
}

.hide-button img {
  margin-right: 20px;
}

.campaign,
.donation-plan {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

.campaign span,
.donation-plan span {
  font-weight: 400;
  opacity: 0.7;
}

.donation-plan {
  margin-top: 13px !important;
}

.payment-methods {
  display: flex;
  align-items: center;
  width: fit-content;
  bottom: 20px;
  right: 10px;
  position: absolute;
}

.payment-method-img {
  margin: 88px auto 0;
  display: flex;
}

.payment_page h4 {
  font-weight: 400;
  font-size: 36px;
  color: white;
  text-align: center;
}

.payment_page .bottom-section {
  margin-top: 113px;
}

.congrats_page {
  position: relative;
}

.congrats_page .main-image {
  margin: 203px auto 0;
  display: flex;
}

.congrats_page h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin: 48px auto 0;
}

.payment-success-section {
  margin: 96px auto 0;
  width: 571px;
  justify-content: space-between;
  display: flex;
}

.payment-success-section-column-1 {
  text-align: left;
  padding: 0;
  list-style: none;
  width: 49%;
  margin: 0;
}

.payment-success-section-column-1 li {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
}

.payment-success-section-column-2 {
  text-align: right;
  padding: 0;
  list-style: none;
  width: 49%;
  margin: 0;
}

.payment-success-section-column-2 li {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 20px;
}

.payment-success-section-column-2 li:last-child,
.payment-success-section-column-1 li:last-child {
  margin-bottom: 0;
}

.payment-success-section-column-2 .amount {
  font-weight: 700;
  font-size: 24px;
}

.email-form {
  display: flex;
  margin: 56px auto 0;
  width: 571px;
  justify-content: space-between;
}

.email-form input {
  background-color: #1b2a22;
  border: 1px solid #999999;
  border-radius: 8px;
  padding: 28px;
  font-weight: 400;
  font-size: 16px;
  width: 383px;
  height: 82px;
  display: flex;
}

.email-form button {
  display: flex;
  width: 172px;
  height: 82px;
  background-color: #0e7b3d;
  color: white;
  font-weight: 600;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.congrats_page .bottom-section {
  margin-top: 192px;
}

.payment_failed .main-image {
  margin: 203px auto 0;
  display: flex;
}

.payment_failed h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin: 48px auto 0;
}

.retry-button {
  display: flex;
  margin: 66px auto 0;
  background: #0f6c37;
  border-radius: 8px;
  width: 338px;
  height: 82px;
  font-weight: 600;
  font-size: 25px;
  color: white;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.payment_failed .bottom-section {
  margin-top: 182px;
}

.privacy_page .top-bar {
  justify-content: space-between;
  align-items: center;
}

.back-button-bar {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  width: 141px;
  height: 46px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-right: 98px;
}

.privacy_page h1 {
  font-weight: 700;
  font-size: 50px;
  color: white;
  margin: 93px auto 0;
  text-align: center;
}

.privacy_page .policy {
  margin: 47px auto 0;
  width: 627px;
  display: flex;
  color: white;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.error_page .main-image {
  margin: 244px auto 0;
  display: flex;
}

.error_page h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin-top: 67px;
}

.try-again {
  display: flex;
  background-color: #117b3e;
  border-radius: 8px;
  margin: 67px auto 0;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 336px;
  height: 87px;
  font-weight: 600;
  font-size: 25px;
}

.error_page .bottom-section {
  margin-top: 217px;
}

.success-container,
.failed-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-pop-up {
  margin: 0 auto;
  height: 714px;
  width: 568px;
  background: #0e7b3d;
  border-radius: 24px;
  background-image: url(../assets/success-bg.svg);
  background-size: cover;
}

.failed-pop-up {
  margin: 0 auto;
  height: 714px;
  width: 568px;
  background: #920000;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.success-icon {
  margin: 82px auto 0;
  display: flex;
}

.success-pop-up h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  margin: 104px auto 0;
}

.success-pop-up h2 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin: 38px auto 0;
}

.close-button {
  background: #efefef;
  border-radius: 8px;
  display: flex;
  border: none;
  width: 172px;
  height: 82px;
  align-items: center;
  justify-content: center;
  margin: 52px auto 0;
  font-weight: 600;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.failed-icon {
  margin: 43px auto 0;
  display: flex;
}

.failed-container h1 {
  font-weight: 600;
  font-size: 40px;
  margin: 70px auto 0;
}

.failed-container h2 {
  margin: 86px auto 0;
  display: flex;
  font-weight: 600;
  font-size: 40px;
}

.pop-up-buttons {
  display: flex;
  width: fit-content;
  margin: 73px auto 0;
}

.pop-up-buttons .close-button {
  margin: 0;
  margin-right: 28px;
}

.try-again-button {
  background: #3b9462;
  border-radius: 8px;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  width: 223px;
  height: 82px;
  border: none;
  cursor: pointer;
}

.failed_page {
  position: relative;
}

.popup-modal-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.popup-modal {
  position: fixed;
  width: 70%;
  height: 65%;
  background-color: #0e7b3d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.popup-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 160px;
  background-color: #0e7b3d;
  border-radius: 24px;
}

.popup-modal-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 65px;
  width: 80%;
}

.popup-modal-body {
  margin-top: 90px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  width: 75%;
}

.popup-modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.popup-modal-button {
  background: #efefef;
  border-radius: 8px;
  display: flex;
  border: none;
  width: 8rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  margin-top: 100px;
}

@media screen and (min-width: 769px) {
  /* Welcome Page */
  .welcome-icons img {
    height: auto;
    margin-top: 124px;
  }

  .welcome_page h1 {
    margin-top: 121px;
  }

  .welcome_page .centered-text {
    margin-top: 49px;
  }

  .welcome_page h2 {
    margin-top: 33px;
  }

  /* Payment Lookup Page */
  .payment-lookup-icons img {
    height: auto;
  }

  .payment_lookup_page .content .top-half {
    margin-top: 124px;
  }

  .payment_lookup_page h1 {
    margin-top: 46px;
  }

  .payment_lookup_page .close-btn {
    margin-top: 160px;
  }

  /* Email Page */
  .email-icons img {
    height: 9rem;
    margin-top: 125px;
  }

  .email_page h1 {
    margin-top: 105px;
  }

  .email_page .input-container {
    width: 500px;
    padding: 0 24px 0 36px;
  }

  .email_page .email-input {
    font-size: 24px;
    padding-left: 10px;
  }

  .email_page .email-input::placeholder {
    font-size: 16px;
  }
}
